.Navbar{
    display: flex;
    width: 100%;
    background-color: darkgreen;
}

.navbar__title h1{
    display: flex;
    font-size: 25px;
    flex-direction: row;
    margin-right: 100px;
    margin-top: 25px;
    margin-left: 10px;
    
    
}

.navbar__links ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: flex-end;
   
}

.navbar__links {
    display: flex;
    margin-left: 200px;
    
}

.navbar__links li{
    display: flex;
    margin-left: 50px;
    

}