.Navbar{
    display: flex;
    width: 100%;
    background-color: darkgreen;
    
}

.navbar__title {
    font-size: 35px;
    font-weight: 600;
    margin-right: 15px;
    margin-left: 15px;
    
}

.navbar__links{
    display: flex;
    justify-content: space-between;
    
}